<script type="text/x-handlebars" data-template-name="items">
  <section id="todoapp">
    <section id="navigation">
      <%= link_to 'Sign out', destroy_user_session_path %>
    </section>
    <h1>Todo List</h1>

    <div class="item-row header-row">
      <div class="item-completed">Done</div>
      <div class="item-summary"></div>
      <div class="item-priority">Priority</div>
      <div class="item-due-date">Due</div>
    </div>

    <div class="item-row">
      <div class="item-completed"></div>
      <div class="item-summary">
        {{input type="text" id="new-item" placeholder="Enter new item" value=newSummary action="createItem"}}
      </div>
      <div class="item-priority">
        {{view Ember.Select content=priorities value=newPriority}}
      </div>
      <div class="item-due-date">
        {{input type="text" placeholder="Enter date" value=newDueDate}}
      </div>
      <div class="item-action">
        <button {{action "createItem"}}>Create</button>
      </div>
    </div>

    {{#each itemController="item"}}
      <div class="item-row">
        <div class="item-completed">{{input type="checkbox" checked=isCompleted class="toggle"}}</div>
        <div class="item-summary" {{bind-attr class="isCompleted:completed isEditing:editing"}} {{action "editItem" on="doubleClick"}}>
          {{#if isEditing}}
            {{edit-item class="edit" value=summary focus-out="acceptChanges" insert-newline="editingFinished"}}
          {{else}}
            {{summary}}
          {{/if}}
        </div>
        <div class="item-priority">{{priority}}</div>
        <div class="item-due-date">{{dueDateString}}</div>
        <div class="item-action"><button {{action "removeItem"}} class="destroy">Delete</button></div>
      </div>
    {{/each}}
  </section>
</script>
