<script type="text/x-handlebars" data-template-name="items">
  <section id="todoapp">
    <section id="navigation">
      <%= link_to 'Sign out', destroy_user_session_path %>
    </section>
    <h1>Todo List</h1>
    {{input type="text" id="new-item" placeholder="Enter new item" value=newSummary action="createItem"}}

    <table id="todo-list">
      <thead>
        <tr>
          <td width="100">Completed</td>
          <td>Todo</td>
          <td width="100"></td>
        </tr>
      </thead>
      <tbody>
        {{#each itemController="item"}}
          <tr>
            <td>{{input type="checkbox" checked=isCompleted class="toggle"}}</td>
            <td {{bind-attr class="isCompleted:completed isEditing:editing"}} {{action "editItem" on="doubleClick"}}>
              {{#if isEditing}}
                {{edit-item class="edit" value=summary focus-out="acceptChanges" insert-newline="editingFinished"}}
              {{else}}
                {{summary}}
              {{/if}}
            </td>
            <td><button {{action "removeItem"}} class="destroy">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</script>
