<script type="text/x-handlebars" data-template-name="items">
  <section id="todoapp">
    <section id="navigation">
      <%= link_to 'Sign out', destroy_user_session_path %>
    </section>
    <h1>Todo List</h1>

    <div class="item-row header-row">
      <div class="item-completed">Done</div>
      <div class="item-summary"></div>
      <div class="item-priority" {{action sortByPriority on="click"}}>Priority</div>
      <div class="item-due-date sort-control" {{action sortByDate on="click"}}>Due</div>
    </div>

    <div class="item-row">
      <div class="item-completed"></div>
      <div class="item-summary">
        {{input type="text" id="new-item" placeholder="Enter new item" value=newSummary action="createItem"}}
      </div>
      <div class="item-priority">
        {{item-priority-input value=priority}}
      </div>
      <div class="item-due-date">
        {{item-due-date-input class="datepicker" placeholder="Enter date" value=locale_due_date}}
      </div>
      <div class="item-action">
        <button class="save" {{action "createItem"}}>Create</button>
      </div>
    </div>

    {{#each itemController="item"}}
      <div class="item-row" {{action "editItem" on="doubleClick"}}>
        <div class="item-completed">{{input type="checkbox" checked=isCompleted class="toggle"}}</div>
        <div class="item-summary" {{bind-attr class="isCompleted:completed isEditing:editing"}}>
          {{#if isEditing}}
            {{edit-item class="edit" value=summary insert-newline="editingFinished"}}
          {{else}}
            {{summary}}
          {{/if}}
        </div>
        <div class="item-priority">
          {{#if isEditing}}
            {{item-priority-input value=priority}}
          {{else}}
            {{priority}}
          {{/if}}
        </div>
        <div class="item-due-date">
          {{#if isEditing}}
            {{item-due-date-input class="datepicker" value=locale_due_date}}
          {{else}}
            {{locale_due_date}}
          {{/if}}
        </div>
        <div class="item-action">
          {{#if isEditing}}
            <button class="save" {{action "acceptChanges"}}>Save</button>
          {{else}}
            <button {{action "removeItem"}} class="destroy">Delete</button>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </section>
</script>
